{% extends "base.html.twig" %}

{% block body %}
    <br>
    <nav>
        <a href="{{ path("addColor") }}">addColor</a>
        <a href="{{ path("addMake") }}">addMake</a>
        <a href="{{ path("addModel") }}">addModel</a>
        <a href="{{ path("addClient") }}">addClient</a>


    </nav>
    {% if form is defined %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% endif %}

    {% if form is defined%}
        {{ form_start(form) }}
        {{ form_widget(form)}}
        {{ form_end(form) }}
    {% endif %}
    {% block javascripts %}{% endblock %}
{% endblock %}