{% extends "base.html.twig" %}

{% block body %}
    <br>
    <nav>
        <a href="{{ path("showMake") }}">showMake</a>
        <a href="{{ path("showModel") }}">showModel</a>
        <a href="{{ path("showCar") }}">showCar</a>
        <a href="{{ path("showClient") }}">showClient</a>
    </nav>
    {% if entities is defined%}
        <table>
            <tr>
                {% for column in columns %}
                    {% if column is iterable %}
                        <th>{{ column[column|length-1] }}</th>
                    {% else %}
                        <th>{{ column }}</th>
                    {% endif %}
                {% endfor %}
                {% if moreDetails is defined %}
                    <th>View</th>
                {% endif %}
            {% for entity in entities%}
                <tr>
                    {% for column in columns %}
                        {% if column is iterable %}
                            {% set len= column|length-1%}

                            {% set var=entity %}
                            {% for i in 0..len %}
                                {% set var=attribute(var,column[i]) %}
                            {% endfor %}
                            <td>{{ var }}</td>
                        {% elseif attribute(entity,column) is defined %}
                            {% if attribute(entity,column).timestamp is defined %}
                                <td>{{ attribute(entity,column)|date('Y')}}</td>
                            {% else %}
                                <td>{{ attribute(entity,column)}}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if moreDetails is defined %}
                        <td><a href="{{ path(moreDetails,{'slug':attribute(entity,'id')}) }}">View</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% block javascripts %}{% endblock %}

{% endblock %}